body { 
	font-family: Helvetica, Arial, sans-serif;
}

 ul {
 	list-style: none;
 }

 a {
	text-decoration: none;
	font-weight: bold;
	color: black;
	font-size: 12px;
}

.octodex {
	display: inline;
}

 .octocat {
 	margin-left: 10px;
 	margin-right: 10px;
 	border-bottom: 1px solid LightGrey;
 }

 .octodex li {
 	display: inline-block;
 }

 .octocat img {
 	width: 300px;
	height: 300px;
	border: solid 1px LightGrey;
	margin: 0;
 }

.image-caption {
 	float: right;
 	margin: 0;
 	font-size: 12px;
 }

.authors img {
	width: 20px;
	height: 20px;
}

ul .authors {
	float:right;
	margin: 0;
	padding:0 0 0 5px;
}

.image-number {
	color: LightGrey;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}

.image-number::before { 
    content: "#";
}









